input:not([type="checkbox"]) {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  width: 275px;

  &::placeholder {
    color: #e9e9ea;
    font-size: 16px;
    font-weight: 300;
  }
}
