.footer {
  padding: 0 40px;
  background: #2eb1ba;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  .right {
    display: flex;
    gap: 15px;
  }
}
